<br>
<br>
<div id='container1'>
<h1>The Flow</h1>
<!--<h1 class='homeLeft'>Find a River</h1>-->

<!--<div ng-repeat='state in states'>-->
    <!--<a href="/#/{{state.state}}/{{state._id}}">{{state.state}}</a>
    &nbsp
    <a href="/#/remove-river/{{river.name}}/{{river._id}}"><span class='glyphicon glyphicon-remove'></span></a>-->
<!--</div>-->
<br>
<br>
<input id='searchInput' class='homeLeft' type="text" ng-model='searchEntry' placeholder='Find A River'>
<a id='enterButton' href="/#/search/{{searchEntry}}/results">Enter</a>
<!--<br>
<br>
<p class='homeLeft'>OR</p>
<a class='homeLeft' href="/#/states/">Search By State</a>-->
</div>